<launch>
  <node pkg="mil_passive_sonar" type="paulboard_driver" name="paulboard_driver">
    <param name="bootloader" value="$(find mil_passive_sonar)/paulboard_driver/SimpleHyd2013.bin" />
    <param name="port" value="/dev/serial/by-id/usb-FTDI_FT232R_USB_UART_A901AN8N-if00-port0" />
    <param name="thresh" type="int" value="500" />
    <param name="sample_rate" type="int" value="300000" />
    <param name="permute" type="string" value="1 2 3 4" />
  </node>
</launch>
